.ourPackagesHolder{
    width: 100%;
    margin: 0px auto;
}

.ourPackagesMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    height: 100%;
    padding: 5% 0;
}

.packagesTitle{
    font-size: 50px!important;
    color: #FEFFFF!important;
}

.ourPackagesMain h1{
    font-size: 2em;
    color: #FEFFFF;
}

.packagesBottom{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    width: 100%;
}


