.showcaseAppsHolder{
    width: 100%;
    margin: 0px auto;
}

.showcaseAppsMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    height: 100%;
    padding: 2% 0;
}

.showcaseAppsLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.showcaseLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 550px;
    width: 100%;
    margin: 0px auto;
}

.showcaseAppsLeft h1{
    max-width: 700px;
    width: 100%;
    font-size: 50px;
    color: #FEFFFF;
}

.showcaseAppsLeft p{
    max-width: 450px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: #FEFFFF;
}

.showcaseAppsRight{
    background-color: #2B7A78;
    border-radius: 3px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcaseAppsRight img{
    width: 100%;
}

.tryThisButton{
    max-width: 250px;
    width: 100%;
}

@media screen and (max-width:1250px) {
    .showcaseAppsMain{
        max-width: 90%;
        margin-top: 15px;
        gap: 5px;
    }
}

@media screen and (max-width:1100px) {
    .showcaseAppsLeft h1{
        font-size: 45px;
    }
    .showcaseAppsLeft p{
        max-width: 400px;
        font-size: 16px;
    }
}

@media screen and (max-width:930px) {
    .showcaseAppsLeft h1{
        font-size: 40px;
        margin-top: 0;
    }
}

@media screen and (max-width:850px) {
    .showcaseAppsLeft h1{
        font-size: 30px;
    }
    .tryThisButton{
        font-size: 14px!important;
        margin-top: 50px!important;
    }
}

@media screen and (max-width:650px) {
    .showcaseAppsMain{
        flex-direction: column-reverse;
    }
    .showcaseAppsRight{
        width: 100%;
    }
    .showcaseAppsRight img {
        width: 60%;
    }
    .showcaseAppsLeft{
        width: 100%;
    }
    .showcaseLeft{
        align-items: center;
        text-align: center;
    }
    .showcaseAppsLeft p{
        text-align: center;
        margin-top: 0;
    }
    .tryThisButton{
        margin-top: 10px!important;
        margin: 0px auto!important;
    }
}