.whatClientsSayHolder{
    width: 100%;
    margin: 0px auto;
    background-color: #17252A;
}

.whatClientsSayMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    height: 100%;
    padding: 5% 0;
}

.whatClientsSayMain h1{
    font-size: 50px;
    margin: 0px auto;
    color: #FEFFFF;
}

.whatClientsSayBottom{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 19px;
    max-width: 1200px;
    width: 100%;
}

@media screen and (max-width:1200px) {
   .whatClientsSayMain{
    width: 90%;
   }
   .testimonialMainHolder{
    padding: 0;
   }
   .testimonialMainHolder p{
    width: 90%;
   }
}

@media screen and (max-width:1100px) {
    .whatClientsSayMain{
        gap: 15px;
    }
    .whatClientsSayMain h1{
        font-size: 40px;
    }
    .testimonialMainHolder p{
        font-size: 14px;
    }
    .testimonialMainHolder h2{
        font-size: 20px;
    }
 }