.whatClientsSayHolder{
    width: 100%;
    margin: 0px auto;
    height: 90vh;
}

.whatClientsSayMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    height: 100%;
}

.whatClientsSayMain h1{
    font-size: 50px;
    margin-top: 0;
    color: #dce2e2;
}

.whatClientsSayBottom{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 19px;
    max-width: 1200px;
    width: 100%;
}