.freshInovativeHolder{
    width: 100%;
    margin: 0px auto;
    height: calc(100vh - 100px);
}

.freshInovativeMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    height: 100%;
}

.upperFreshInovative{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.leftSideFreshInovative{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
}

.leftSideFreshInovative h1{
    width: 100%;
    color: #FEFFFF;
    font-size: 78px;
    margin: 0;
}

.leftSideFreshInovative p{
    color: #FEFFFF;
    font-size: 18px;
}

.rightSideFreshInovative{
    width: 100%;
}

.rightSideFreshInovative img{
    width: 100%;
}

.bottomFreshInovative{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #2B7A78;
    margin-bottom: 0;
}

.musicLogo{
    filter: grayscale(100%);
    max-width: 100px;
    width: 100%;
}

.musicLogo:hover{
    filter: grayscale(0%);
    cursor: pointer;
}

hr{
    margin: 0 0 50px 0;
    display: block;
    border: none;
    height: 1px;
    background: #16222a;
    background: linear-gradient(to right, #16222a, #3a6073, #20a003, #3a6073, #16222a);
}