.cartHolder{
    margin: 0px auto;
    width: 100%;
}

.cartMain{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #DEF2F1;
    padding: 15px 0px;
    border-radius: 10px;
}

.cartItems{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cartItemsPromocode{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding: 30px 0px 0px;
    gap: 10px;
}

.buttonApply{
    margin-top: 0;
}

.cartItemsSubtotal{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
}

.subtotalLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartHr{
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    background: #16222a;
    background: linear-gradient(to right, #DEF2F1, #3AAFA9, #2B7A78, #3AAFA9, #DEF2F1);
}

.cartItemButtons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 500px;
    margin: 25px auto;
}
