.endingFreshHolder{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    background-color: #2B7A78;
}

.endingFreshMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    height: 80%;
    background-color: #3AAFA9;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    padding: 5% 0;
    margin-top: 5%;
    border-radius: 3px;
}

.endingFreshLeftSide{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 30px;
}

.endingFreshLeftSide h1{
    width: 100%;
    color: white;
    font-size: 72px;
    margin-top: 0;
}

.endingFreshLeftSide p{
    color: #FEFFFF;
    font-size: 20px;
}

.endingFreshRightSide{
    max-width: 600px;
    width: 100%;
}

.endingFreshRightSide img{
    width: 100%;
}

hr{
    margin: 0 0 50px 0;
    display: block;
    border: none;
    height: 2px;
    background: #16222a;
    background: linear-gradient(to right, #2B7A78, #3AAFA9, #DEF2F1, #3AAFA9, #2B7A78);
}

.endingFreshButton{
    align-self: center;
}

@media screen and (max-width:1200px) {
    .endingFreshMain{
        width: 90%;
    }
    .endingFreshLeftSide h1{
        font-size: 60px;
        max-width: 470px;
        width: 100%;
    }
    .endingFreshLeftSide p{
        font-size: 18px;
    }
}

@media screen and (max-width:1000px) {
    .endingFreshLeftSide h1{
        font-size: 45px;
    }
    .endingFreshLeftSide p{
        font-size: 16px;
    }
}

@media screen and (max-width:950px) {
    .myHr{
        margin: 0 0 24px 0;
    }
}

@media screen and (max-width:800px) {
    .endingFreshLeftSide h1{
        max-width: 300px;
        font-size: 40px;
    }
    .endingFreshLeftSide p{
        font-size: 14px;
    }
    .myButton{
        font-size: 16px;
    }
}