.shopHolder{
    width: 100%;
    margin: 50px auto;
}

.shopMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 0px auto;
    gap: 15px;
}

/* @media screen and (max-width:1150px) {
    .shopMain{
        width: 90%;
    }
} */

