.beautifulPresentationsOneSegmentHolder img{
    max-width: 100px;
    width: 100%;
}

.beautifulPresentationsOneSegmentHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2B7A78;
    padding: 3% 2%;
    border-radius: 3px;
}

.beautifulPresentationsOneSegmentHolder h1{
    margin-bottom: 0;
    color: #FEFFFF;
    text-align: center;
}

.beautifulPresentationsOneSegmentHolder p{
    color: #17252A;
    text-align: center;
    max-width: 350px;
    width: 100%;
}