.navigationCart .cartIcon{
    max-width: 40px;
    width: 100%;
    cursor: pointer;
}

.menuItems{
   font-weight: 600;
   color: #FEFFFF;
   font-size: large;
   cursor: pointer;
}

.menuItems:hover{
    text-decoration: underline;
}