#root{
  width: 100%;
  height: 100%;
  font-family: "Popins", sans-serif!important;
}

body{
    background-color: #3AAFA9;
    margin: 0px auto;
    width: 100%;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

.appHolder{
  height: 100%;
}

.mainLogo {
  max-width: 100px;
  width: 100%;
  will-change: filter;
  transition: filter 300ms;
  animation: mainLogo-spin 5s normal linear infinite;
}
.mainLogo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.mainLogo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes mainLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

